# Group 10 - Project 1

# Members: Bryan Groves, Randy Lam, Zach Wood, Marti Reisinger

# Topic: Drivers in revenue for top 1000 movies

## Overview: We intend to utilize a dataset from Kaggle that outlines the top 1000 movies by their ranking. We intend to analyze the studio, runtime, and performance by date  from both revenue and number of movies that fall within these categories.

In [4]:
# Import 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
#Load CSV
movie_df = pd.read_csv("Resources/movies.csv")
movie_df.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

In [6]:
cleaned_columns = movie_df.drop(columns = ["Movie Info","Unnamed: 0","Genre"])
cleaned_columns.head()

,Title,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,2 hr 18 min,PG-13
1,Avengers: Endgame (2019),Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,3 hr 1 min,PG-13
2,Avatar (2009),Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,2 hr 42 min,PG-13
3,Black Panther (2018),Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,2 hr 14 min,NaN
4,Avengers: Infinity War (2018),Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,2 hr 29 min,NaN

In [7]:
final_movie_list = cleaned_columns.dropna()
final_movie_list

,Title,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,2 hr 18 min,PG-13
1,Avengers: Endgame (2019),Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,3 hr 1 min,PG-13
2,Avatar (2009),Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,2 hr 42 min,PG-13
6,Titanic (1997),Paramount Pictures,"December 19, 1997",659363944,1542283320,2201647264,3 hr 14 min,PG-13
7,Jurassic World (2015),Universal Pictures,"June 10, 2015",652385625,1018130819,1670516444,2 hr 4 min,PG-13
...,...,...,...,...,...,...,...,...
911,While You Were Sleeping (1995),Walt Disney Studios Motion Pictures,"April 21, 1995",81057016,101000000,182057016,1 hr 43 min,PG
913,The Notebook (2004),New Line Cinema,"June 25, 2004",81001787,36813370,117815157,2 hr 3 min,PG-13
915,Eat Pray Love (2010),Sony Pictures Entertainment (SPE),"August 13, 2010",80574010,124020006,204594016,2 hr 13 min,PG-13
916,The Texas Chainsaw Massacre (2003),New Line Cinema,"October 17, 2003",80571655,26792250,107363905,1 hr 38 min,R
917,Zookeeper (2011),Sony Pictures Entertainment (SPE),"July 6, 2011",80360843,89491916,169852759,1 hr 42 min,PG

In [8]:
final_movie_list["Domestic Sales (in $)"] = final_movie_list['Domestic Sales (in $)'].map("${:,.2f}".format)
final_movie_list["International Sales (in $)"] = final_movie_list['International Sales (in $)'].map("${:,.2f}".format)
final_movie_list["World Sales (in $)"] = final_movie_list['World Sales (in $)'].map("${:,.2f}".format)
final_movie_list

C:\Users\Randy Lam\AppData\Local\Temp\ipykernel_8396\3914587624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movie_list["Domestic Sales (in $)"] = final_movie_list['Domestic Sales (in $)'].map("${:,.2f}".format)
C:\Users\Randy Lam\AppData\Local\Temp\ipykernel_8396\3914587624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movie_list["International Sales (in $)"] = final_movie_list['International Sales (in $)'].map("${:,.2f}".format)
C:\Users\Randy Lam\AppData\Local\Temp\ipykernel_8396\3914587624.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movie_list["World Sales (in $)"] = final_movie_list['World Sales (in $)'].map("${:,.2f}".format)

,Title,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),Walt Disney Studios Motion Pictures,"December 16, 2015","$936,662,225.00","$1,132,859,475.00","$2,069,521,700.00",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),Walt Disney Studios Motion Pictures,"April 24, 2019","$858,373,000.00","$1,939,128,328.00","$2,797,501,328.00",3 hr 1 min,PG-13
2,Avatar (2009),Twentieth Century Fox,"December 16, 2009","$760,507,625.00","$2,086,738,578.00","$2,847,246,203.00",2 hr 42 min,PG-13
6,Titanic (1997),Paramount Pictures,"December 19, 1997","$659,363,944.00","$1,542,283,320.00","$2,201,647,264.00",3 hr 14 min,PG-13
7,Jurassic World (2015),Universal Pictures,"June 10, 2015","$652,385,625.00","$1,018,130,819.00","$1,670,516,444.00",2 hr 4 min,PG-13
...,...,...,...,...,...,...,...,...
911,While You Were Sleeping (1995),Walt Disney Studios Motion Pictures,"April 21, 1995","$81,057,016.00","$101,000,000.00","$182,057,016.00",1 hr 43 min,PG
913,The Notebook (2004),New Line Cinema,"June 25, 2004","$81,001,787.00","$36,813,370.00","$117,815,157.00",2 hr 3 min,PG-13
915,Eat Pray Love (2010),Sony Pictures Entertainment (SPE),"August 13, 2010","$80,574,010.00","$124,020,006.00","$204,594,016.00",2 hr 13 min,PG-13
916,The Texas Chainsaw Massacre (2003),New Line Cinema,"October 17, 2003","$80,571,655.00","$26,792,250.00","$107,363,905.00",1 hr 38 min,R
917,Zookeeper (2011),Sony Pictures Entertainment (SPE),"July 6, 2011","$80,360,843.00","$89,491,916.00","$169,852,759.00",1 hr 42 min,PG

# Analysis

#### We would like to see how much revenue each studio is generating in total by creating stacked bar chart with revenue by studio

In [9]:
#Bryan Visual 1
final_movie_list = movie_df.groupby('Distributor').sum()

final_movie_list.head()

,Unnamed: 0,Domestic Sales (in $),International Sales (in $),World Sales (in $)
Distributor,,,,
20th Century Studios,529,121626598,209877159,331503757
Artisan Entertainment,411,140539099,108100000,248639099
Columbia Pictures,3752,956287379,680419247,1374209626
Dimension Films,5023,691875387,531129726,1223005113
DreamWorks,7246,4040554079,6372421823,10412975902

#### Per studio, what is their average revenue for movies that fall within the top 1000 list

In [10]:
#Bryan Visual 2 
final_movie_list = movie_df.groupby(['Distributor']).count()
final_movie_list

,Unnamed: 0,Title,Movie Info,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
Distributor,,,,,,,,,,
20th Century Studios,1,1,1,0,1,1,1,1,1,0
Artisan Entertainment,1,1,1,1,1,1,1,1,1,1
Columbia Pictures,7,7,7,6,7,7,7,7,7,3
Dimension Films,7,7,7,7,7,7,7,7,7,7
DreamWorks,21,21,21,19,21,21,21,21,21,19
DreamWorks Distribution,17,17,17,16,17,17,17,17,17,15
FilmDistrict,2,2,2,2,2,2,2,2,2,2
Focus Features,2,2,2,2,2,2,2,2,2,2
Fox Searchlight Pictures,4,4,4,3,4,4,4,4,4,3
IFC Films,1,1,1,1,1,1,1,1,1,1
Lionsgate,19,19,19,16,19,19,19,19,19,16
Metro-Goldwyn-Mayer (MGM),12,12,12,7,12,12,12,12,12,5
Miramax,9,9,9,8,9,9,9,9,9,8
New Line Cinema,21,21,21,19,21,21,21,21,21,17
Newmarket Films,1,1,1,1,1,1,1,1,1,1
Orion Pictures,3,3,3,3,3,3,3,3,3,0
Paramount Pictures,99,99,99,86,99,99,99,99,99,77
Relativity Media,1,1,1,1,1,1,1,1,1,1
Revolution Studios,8,8,8,8,8,8,8,8,8,8
Roadside Attractions,1,1,1,1,1,1,1,1,1,1
STX Entertainment,3,3,3,3,3,3,3,3,3,3
Screen Gems,3,3,3,3,3,3,3,3,3,3
Sony Pictures Classics,1,1,1,1,1,1,1,1,1,1
Sony Pictures Entertainment (SPE),101,101,101,97,101,101,101,101,101,96
Summit Entertainment,5,5,5,5,5,5,5,5,5,5
The Weinstein Company,6,6,6,5,6,6,6,6,6,5
TriStar Pictures,9,9,9,9,9,9,9,9,9,8
Twentieth Century Fox,117,117,117,107,117,117,117,117,117,103
USA Films,1,1,1,0,1,1,1,1,1,0
United Artists,2,2,2,1,2,2,2,2,2,1
United Artists Releasing,1,1,1,1,1,1,1,1,1,1
Universal Pictures,119,119,119,114,119,119,119,119,119,107
Walt Disney Studios Motion Pictures,155,155,155,116,155,155,155,155,155,98
Warner Bros.,158,158,158,131,158,158,158,158,158,126

In [11]:
average_revenue = studio_group_sum / studio_group_count
average_revenue

NameError: name 'studio_group_sum' is not defined

#### Is there a better time of year for movie successes? We would like to look at the top 1000 movies and understand if summer blockbusters (June-Aug) fair better than holiday movies (Nov-Jan)

In [21]:
#Randy Visual 1

movie_df['Release Date']=pd.to_datetime(movie_df['Release Date'])

movie_df

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,2015-12-16,936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,2019-04-24,858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,2009-12-16,760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaT,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaT,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
...,...,...,...,...,...,...,...,...,...,...,...
913,913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,2004-06-25,81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,2001-12-21,80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,NaN
915,915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),2010-08-13,80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,2003-10-17,80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),2011-07-06,80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

In [22]:
movie_df.set_index('Release Date')
movie_df

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,2015-12-16,936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,2019-04-24,858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,2009-12-16,760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaT,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaT,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
...,...,...,...,...,...,...,...,...,...,...,...
913,913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,2004-06-25,81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,2001-12-21,80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,NaN
915,915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),2010-08-13,80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,2003-10-17,80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),2011-07-06,80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

In [28]:
movie_df.loc[movie_df.index.month.isin([2, 3, 4, 5, 9, 10])]
movie_df

AttributeError: 'RangeIndex' object has no attribute 'month'

In [ ]:
#bar chart
year_revenue = movie_df.drop(columns = ["Title","Unnamed: 0","Distributor", "Genre", "Movie Runtime", "License", "Domestic Sales (in $)", "International Sales (in $)"])

plot_pandas= month_revenue.plot.bar(color='r')
plt.xlabel("year")
plt.ylabel("revenue (in billions)")
plt.title("revenue by year")

#### We would like to measure the total revenue by year for movies that are in the top 1000 list

In [1]:
#Randy Visual 2

In [2]:
movie_df['Release Date']=pd.to_datetime(movie_df['Release Date']).dt.strftime('%Y-%m-%d')

NameError: name 'pd' is not defined

In [ ]:
year_revenue = movie_df.drop(columns = ["Title","Unnamed: 0","Distributor", "Genre", "Movie Runtime", "License", "Domestic Sales (in $)", "International Sales (in $)"])

plot_pandas= month_revenue.plot.bar(color='r')
plt.xlabel("year")
plt.ylabel("revenue (in billions)")
plt.title("revenue by year")

#### Create chart based on revenue by market

In [3]:
#Marti Visual 1

#### Provide analysis of total counts and revenue by rating

In [ ]:
#Marti Visual 2

# Hypothesis Test

#### We believe that shorter movies will gross more revenue than longer movies that were listed in the top 1000. Our intent is to find the midpoint of run time and understand the revenue associated with those groups. Plotting the times initially to understand the distribution of movies by runtime

In [ ]:
#Zach Hyptothesis