# Group 10 - Project 1

# Members: Bryan Groves, Randy Lam, Zach Wood, Marti Reisinger

# Topic: Drivers in revenue for top 1000 movies

## Overview: We intend to utilize a dataset from Kaggle that outlines the top 1000 movies by their ranking. We intend to analyze the studio, runtime, and performance by date  from both revenue and number of movies that fall within these categories.

In [ ]:
# Import 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregressimport scipy.stats as stats

In [ ]:
#Load CSV
movie_df = pd.read_csv("Resources/movies.csv")
movie_df.head()

In [ ]:
cleaned_columns = movie_df.drop(columns = ["Movie Info","Unnamed: 0","Genre"])
cleaned_columns.head()

In [ ]:
final_movie_list = cleaned_columns.dropna()
final_movie_list

# Analysis

#### We would like to see how much revenue each studio is generating in total by creating stacked bar chart with revenue by studio

In [ ]:
rev_totals = final_movie_list.drop(columns = ["Movie Runtime","Title","License","Release Date"])

rev_totals.head()

#### Per studio, what is their average revenue for movies that fall within the top 1000 list

In [ ]:
counts = rev_totals.groupby('Distributor').count()

counts

In [ ]:
rev_totals.dtypes

In [ ]:
average_revenue = rev_totals / rev_totals.groupby('Distributor').count()

average_revenue

In [8]:
G_data["Title"].nunique()

14

In [ ]:
PG_data["Title"].nunique()

173

In [10]:
PG13_data["Title"].nunique()

363

In [ ]:
R_data["Title"].nunique()

194

In [13]:
G = 14
PG = 173
PG13 = 363
R = 194

In [ ]:
license_df = pd.DataFrame({
    "G Rating":G,
    "PG Rating":PG,
    "PG-13 Rating":PG13,
    "R Rating":R,}, index=[0])

In [15]:
license_df[["G Rating","PG Rating","PG-13 Rating","R Rating"]]
license_df

   G Rating  PG Rating  PG-13 Rating  R Rating
0        14        173           363       194

In [ ]:
License_Chart = license_df.plot.bar(color=['blue', 'red', 'green', 'cyan'], align= "center")

plt.ylabel("Movie Count")
plt.xlabel("Movie Rating")

plt.show()

# Hypothesis Test

#### Research Hypothesis: In our sample of top U.S. films, we believe that films with shorter runtime will earn more on average than those with a longer runtime.

#### Null Hypothesis: There is no difference in earnings in films based on runtime.

In [ ]:
#Zach Hypothesis

In [ ]:
hypoth_df = final_movie_list

In [ ]:
hypoth_df["Movie Runtime"] = hypoth_df["Movie Runtime"].str.replace(" hr", "*60").str.replace(" ", " + ").str.replace("min", "0").apply(eval)

In [ ]:
hypoth_df

In [ ]:
hypoth_rev_list = hypoth_df["World Sales (in $)"].tolist()
hypoth_time_list = hypoth_df["Movie Runtime"].tolist()

In [ ]:
print(hypoth_df["Movie Runtime"].median())
print(hypoth_df["Movie Runtime"].mean())
print(hypoth_df["Movie Runtime"].min())
print(hypoth_df["Movie Runtime"].max())

In [ ]:
hypoth_time_series = hypoth_df["Movie Runtime"] 

hypoth_quartiles = hypoth_time_series.quantile([.25, .5, .75])
hypoth_lower = hypoth_quartiles[.25]
hypoth_upper = hypoth_quartiles[.75]
hypoth_iqr = hypoth_upper - hypoth_lower

print(hypoth_lower)
print(hypoth_upper)

In [ ]:
plt.hist(hypoth_time_list)

plt.title("Distribution of Films by Runtime")
plt.xlabel("Film Runtime in Minutes")
plt.ylabel("Count")

plt.show()

In [ ]:
hypoth_s_df = hypoth_df.loc[hypoth_df["Movie Runtime"] <= 101]
hypoth_l_df = hypoth_df.loc[hypoth_df["Movie Runtime"] >= 130]

hypoth_m_df = hypoth_df.loc[(hypoth_df["Movie Runtime"] > 101) & (hypoth_df["Movie Runtime"] < 130)]

In [ ]:
hypoth_s_series = hypoth_s_df["World Sales (in $)"].squeeze()
hypoth_l_series = hypoth_l_df["World Sales (in $)"].squeeze()

hypoth_s_timelist = hypoth_s_df["Movie Runtime"].to_list()
hypoth_l_timelist = hypoth_l_df["Movie Runtime"].to_list()

In [ ]:
print(hypoth_s_series.mean())
print(hypoth_l_series.mean())

In [ ]:
stats.ttest_ind(hypoth_s_series, hypoth_l_series, alternative = "greater")

In [ ]:
hypoth_m_series = hypoth_m_df["World Sales (in $)"].squeeze()

hypoth_m_timelist = hypoth_m_df["Movie Runtime"].to_list()

In [ ]:
plt.scatter(hypoth_s_timelist, hypoth_s_series, marker = "o", facecolors = "lightblue", edgecolors = "black")
plt.scatter(hypoth_l_timelist, hypoth_l_series, marker = "o", facecolors = "lightgreen", edgecolors = "black")
plt.scatter(hypoth_m_timelist, hypoth_m_series, marker = "o", facecolors = "orange", edgecolors = "black")

plt.title("Total Film Sales by Runtime")
plt.xlabel("Film Runtime in Minutes")
plt.ylabel("World Sales in Billions of Dollars")

plt.show()

In [ ]:
final_movie_list["Domestic Sales (in $)"] = final_movie_list['Domestic Sales (in $)'].map("${:,.2f}".format)
final_movie_list["International Sales (in $)"] = final_movie_list['International Sales (in $)'].map("${:,.2f}".format)
final_movie_list["World Sales (in $)"] = final_movie_list['World Sales (in $)'].map("${:,.2f}".format)

final_movie_list